<div class="row">
  <div class="col-md-12">
    <div class='row'>
      <div class='col-md-12'>
        <div class='panel panel-default'>
          <div class="panel-heading">
            <h3 class="panel-title">Fields</h3>
          </div>
          <div class='panel-body'>
            <%= f.input :title, placeholder: 'for your eyes only' %>

            <%= f.association :section, collection: Section.where("rank IS NOT NULL"), prompt: 'required' %>
            <%= f.association :project, collection: Project.order(created_at: :desc),  prompt: 'semi-optional' %>


          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Image</h3>
      </div>
      <div class='panel-body'>
        <div class='row'>
          <div class='col-md-6'>
            <% if f.object.image %>
              <div class='preview-primary' style="height: 180px; width: 150px; background-image: url('<%= f.object.image.name.mobile %>'); overflow: hidden; background-position: center center; background-size: cover;"></div>
            <% else %>
              none
            <% end %>
          </div>

          <div class="col-md-6">
            <%= f.simple_fields_for :image, f.object.image || f.object.build_image  do |builder| %>
              <%= builder.input :name, label: false, :input_html => { 
                :class => 'filestyle', 
                data: {
                  buttonText: builder.object.name_url ? "Change Image" : "Choose Image",
                  placeholder: builder.object.name_url ? File.basename(builder.object.name_url) :  ""
                } 
              }
            %>
        <% end %>
          </div>


        </div>
      </div> <%# end body %>
  </div> <%# end panel %>
<div class="panel panel-default upload-slideshow-videos">
  <div class="panel-heading">
    <h3 class="panel-title">Videos (only for home page section)</h3>
  </div>
  <div class='panel-body'>

    <% if f.object.video_slides_valid? %>
      <video width="320" height="240" controls>
        <source src="<%= f.object.mp4.name_url %>" type="video/mp4">
        <source src="<%= f.object.webm.name_url %>" type="video/mp4">
      </video>
    <% end %>


    <%= f.simple_fields_for :mp4, f.object.mp4 || f.object.build_mp4  do |builder| %>
      <%= builder.input :name, label: false, :input_html => { 
        :class => 'filestyle', 
        data: {
          buttonText: builder.object.name_url ? "Change mp4" : "Choose mp4",
          placeholder: builder.object.name_url ? File.basename(builder.object.name_url) :  ""
        } 
      }
    %>
<% end %>


<%= f.simple_fields_for :webm, f.object.webm || f.object.build_webm  do |builder| %>
  <%= builder.input :name, label: false, :input_html => { 
    :class => 'filestyle', 
    data: {
      buttonText: builder.object.name_url ? "Change webm" : "Choose webm",
      placeholder: builder.object.name_url ? File.basename(builder.object.name_url) :  ""
    } 
  }
%>

<% end %>

<%= f.simple_fields_for :gif, f.object.gif || f.object.build_gif  do |builder| %>
  <%= builder.input :name, label: false, :input_html => { 
    :class => 'filestyle', 
    data: {
      buttonText: builder.object.name_url ? "Change gif" : "Choose gif",
      placeholder: builder.object.name_url ? File.basename(builder.object.name_url) :  ""
    } 
  }
%>
        <% end %>
  </div>
</div> <%# end panel %>

</div> <%# end col %>
</div> <%# end row %> 
