
<h2><%= @title %></h2>
<%= link_to 'New Position', new_admin_position_path, class: "pull-right" %>

<table class='table table-striped index-table'>
  <thead>
    <tr>
      <th>Title</th>
      <th>Rank</th>
      <th>Roles</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @positions.sort_by{|pos| pos.rank}.each do |position| %>
      <tr>
        <td><%= position.title %></td>
        <td><%= position.rank %></td>
        <td><%= position.roles.count %></td>
        <td><%= link_to 'Edit', edit_admin_position_path(position) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
