<fieldset class="well">
  <%= f.hidden_field :_destroy %>
  <%= link_to "#{fa_icon "trash"}remove".html_safe, "#", class: "remove_fields" %>

  <div class='row'>
    <div class="col-md-12">
      <%= f.input :title %>
    </div>
  </div>
  <div class='row'>
    <div class="col-md-6">
      <%= f.input :description %>
    </div>
    <div class="col-md-6">
      <%= f.input :overview %>
    </div>
  </div>
</fieldset>
