


<div class="row">
  <h2>Images</h2>

  <% f.object.uploads.select{|u| u.is_image}.group_by{|upload| upload.file_type}.each do |type, upload_group| %>
    <h1><%= type.title %></h1>
    <table class='table table-condensed'>
      <thead>
        <tr>
          <th>rank</th>
        </tr>
      </thead>
        <%= f.fields_for :uploads, upload_group.sort_by{|i| i.rank} do |builder| %>
          <tr>

            <td><%= builder.input :rank, label:false, :input_html => {:style => 'width: 50px'}  %></td>

            <td>
              <a class="btn" rel="popover" data-img=<%= builder.object.name.mobile.url %>>
                <%= image_tag builder.object.name.mobile, class: "img-responsive thumby" %>
              </a>
            </td>

            <td><%= builder.input :file_type_id, collection: FileType.all, prompt: "Select a type...", label: false, :input_html => {:style => 'width: 250px'}  %></td>

            <td>
              <div class='col-md-6'> show? <%= builder.check_box :in_gallery %> </div>
              <div class='col-md-6'> delete? <%= builder.check_box :_destroy %> </div>
            </td>

          </tr>
        <% end %>

    </table>
  <% end %>
</div>

<div class="row">
  <h2>Other Files</h2>
  <% f.object.uploads.select{|u| !u.is_image}.group_by{|upload| upload.file_type}.each do |type, upload_group| %>
    <h1><%= type.title %></h1>
    <div class='row'>
      <%= f.fields_for :uploads, upload_group.sort_by{|i| i.rank} do |builder| %>

        <div class='col-md-6'> show? <%= builder.check_box :in_gallery %> </div>
        <div class='col-md-6'> delete? <%= builder.check_box :_destroy %> </div>

        <%= image_tag builder.object.name.thumb, class: "img-responsive" %>
        <%= builder.input :rank, size: 3 %>
        <%= builder.input :file_type_id, collection: FileType.all, prompt: "Select a type..." %>
      <% end %>
    </div>

  <% end %>
</div>

<%= link_to_add_fields "Upload files", f, :uploads%>

<div class="row">
  <h2>Roles</h2>
  <div class="col-md-6">
    <table class='table'>
      <thead>
        <tr>
          <th> Person </th>
          <th> Position </th>
          <th> &nbsp; </th>
        </tr>
      </thead>
      <%= f.fields_for :roles do |builder| %>
        <%= render "form_for_roles", f:builder %>
      <% end %>
    </table>
  </div>
</div>

<%= link_to_add_fields "Add Role", f, :roles %>


<div class="row section">
  <h2>Section / Type</h2>
  <div class="col-md-6">
    <%=  f.input :section_id, collection: Section.all.select{|sec| !sec.projects.empty?}, prompt: "select a category" %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">

    <%= hidden_field_tag "project[project_type_ids][]", nil %>
    <% ProjectType.roots.group_by{|pt| pt.section}.each do |section, project_types| %>
      <div class='types <%= "section" + section.id.to_s %>'>
        <%= f.label "Types" %>
        <% project_types.each do |project_type| %>
          <div class="type">
            <%= check_box_tag "project[project_type_ids][]", project_type.id, f.object.project_type_ids.include?(project_type.id), id: dom_id(project_type) %>
            <%= label_tag dom_id(project_type), project_type.title %><br>

            <% project_type.children.each do |child| %>
              <div class="subtype">
                &nbsp;&nbsp;&nbsp;&nbsp;<%= check_box_tag "project[project_type_ids][]", child.id, f.object.project_type_ids.include?(child.id), id: dom_id(child) %>
              <%= label_tag dom_id(child), child.title %><br>
              </div>
            <% end %>
          </div>
        <% end %>

      </div>
    <% end %>

  </div>
</div>


<div class="row">
  <h2>Awards</h2>
  <table class='table'>
    <%= f.fields_for :awards do |builder| %>
      <%= render "form_for_awards", f:builder %>
    <% end %>
  </table>
</div>
<%= link_to_add_fields "Add Awards", f, :awards %>

<div class="row">
  <h2>Bib</h2>
  <table class='table'>
  <%= f.fields_for :bibliography_items do |builder| %>
    <%= render "form_for_awards", f:builder %>
  <% end %>
  </table>
</div>
<%= link_to_add_fields "Add Bibs", f, :bibliography_items %>

<div class="row">
  <h2>Main Info</h2>

  <div class="col-md-6">
    <%= f.input:title %>
	</div>

	<div class="col-md-3">
    <% if f.object && f.object.primary_image %>
    <%= image_tag f.object.primary_image.name_url, class: "img-responsive" %>
  <% end %>
	</div>

  <div class="col-md-12">
    <%= f.input :overview %>
  </div>
  <div class="col-md-12">
    <%= f.input :description %>
  </div>
  <div class="col-md-12">
    <%= f.input :program %>
  </div>
</div>



<div class="row">
  <h2>Details</h2>
  <div class="col-md-6">
    <%= f.input :client %>
  </div>
  <div class="col-md-6">
    <%= f.input :size %>
  </div>

  <div class="col-md-6">
    <%= f.input :height %>
  </div>

  <div class="col-md-6">
    <%= f.input :site_area %>
  </div>
  <div class="col-md-6">
    <%= f.input :lat %>
  </div>
  <div class="col-md-6">
    <%= f.input :lon %>
  </div>
  <div class="col-md-6">
    <%= f.input :street_address %>
  </div>


</div>

<div class='row'>
  <h2>Dates</h2>
  <div class="col-md-6">
    <%= f.input :constr_sdate, html5: true %>
  </div>
  <div class="col-md-6">
    <%= f.input :constr_edate, html5: true %>
  </div>
  <div class="col-md-6">
    <%= f.input :design_sdate, html5: true %>
  </div>
  <div class="col-md-6">
    <%= f.input :design_sdate, html5: true %>
  </div>
</div>
