<table class="table table-striped">
	<thead>
		<tr>
      <th><%= sortable "title" %></th>
      <th><%= sortable "design_edate" %></th>
      <th><%= sortable "constr_edate" %></th>
      <th><%= sortable "created_at" %></th>
			<th>&nbsp;</th>
		</tr>
	</thead>
	
	<% projects.each do |project| %>
		<tr>
      <td><%= link_to project.title, admin_project_path(project) %>
      <td><%= project.design_edate %>
      <td><%= project.constr_edate %>
      <td><%= project.created_at.strftime("%m/%d/%Y") %>
			<td>&nbsp;</td>
		</tr>
	<% end %>
</table>
