<%= link_to "new project",  new_admin_project_path, class: "pull-right" %><br>
<%= link_to "manage project types",  admin_project_types_path, class: "pull-right" %><br>

<h2><%= @title %></h2>

<ul class="nav nav-tabs">

  <li role="presentation" class="<%= 'active' unless @section_id %>">
    <%= link_to "All", admin_projects_path %>
  </li>

  <% Section.all.select{|s| !s.projects.empty? }.each do |sec| %>
    <li role="presentation" class="<%= 'active' if @section_id==sec.id.to_s %>">
      <%= link_to sec.title, admin_projects_path(type: sec.id) %>
    </li>
  <% end %>

</ul>

<%= render :partial => 'admin/projects/table', :locals => { :projects => @projects } %>
