<% content_for :head do %>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.1/css/bootstrap-datepicker.css" />
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.1/js/bootstrap-datepicker.js"></script>
<% end %>

<div class='row'>
  <div class='col-md-12'>
    <div class='panel panel-default'>
      <div class="panel-heading">
        <h3 class="panel-title">Basics</h3>
      </div>
      <div class='panel-body'>

        <div class="row">

          <div class="col-md-12">

            <%= f.input :title %>
            <%= f.input :news_type_id, collection: NewsType.all, prompt: "select a section" %>
            <%= f.input :in_news_box %>

        <div class="row">
          <div class="col-md-6">
            <%= f.input :description, rows: "20" %>
          </div>
          <div class="col-md-6">
            <%= f.input :overview, rows: "20" %>
          </div>
        </div>

        <div class="row">

          <div class="col-md-6">
            <%= f.label :start_date %><br \>
            <%= f.text_field :start_date, class: 'datepicker' %>
          </div>
          <div class="col-md-6">
            <%= f.label :end_date %><br \>
            <%= f.text_field :end_date, class: 'datepicker' %>
          </div>
        </div>

        <div class='row'>
          <div class="col-md-6">
            <%= f.input :link %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<hr style="width: 100%; color: black; height: 1px; background-color:black;" />

<%= render partial: "admin/shared/form_images", locals: {f: f} %>
<hr style="width: 100%; color: black; height: 1px; background-color:black;" />
