<h2><%= @title %></h2>
<%= link_to "new news",  new_admin_news_item_path, class: "pull-right" %><br>
<%= link_to "manage news types",  admin_news_types_path, class: "pull-right" %><br>


<ul class="nav nav-tabs">

  <li role="presentation" class="<%= 'active' unless @news_type_id %>">
    <%= link_to "All", admin_news_items_path %>
  </li>

  <% NewsType.all.select{|s| !s.news_items.empty? }.each do |news_type| %>
    <li role="presentation" class="<%= 'active' if @news_type_id==news_type.id.to_s %>">
      <%= link_to news_type.title, admin_news_items_path(type: news_type.id) %>
    </li>
  <% end %>
</ul>

<%= render :partial => 'admin/news_items/table', :locals => { :news_items => @news_items } %>
