<div class="row">

  <div class="col-md-6">
    <%= f.input :name %>
    <%= f.input :email %>
  </div>

  <div class="col-md-3">
    <% if f.object && f.object.primary_image %>
      <%= image_tag f.object.primary_image.name_url, class: "img-responsive" %>
    <% end %>
  </div>
</div>

<%= render partial: "admin/shared/form_images", locals: {f: f} %>

<div class="row">
	<div class="col-md-6">
		<%= f.input :description %>
	</div>

	<div class="col-md-6">
		<%= f.input :birthday, html5: true %>
	</div>

	<div class="col-md-3">
		<%= f.input :is_morphosis %>
	</div>
	<div class="col-md-3">
		<%= f.input :is_employed %>
	</div>

	<div class="col-md-3">
		<%= f.input :is_collaborator %>
	</div>
	<div class="col-md-3">
		<%= f.input :is_consultant %>
	</div>

	<div class="col-md-6">
    <%= f.input :start_date, html5: true %>
	</div>
	<div class="col-md-6">
		<%= f.input :end_date, html5: true %>
	</div>

	<div class="col-md-6">
		<%= f.input :website %>
	</div>
	<div class="col-md-6">
		<%= f.input :location %>
	</div>

</div>

<div class="row">
  <h2>Roles</h2>
  <div class="col-md-12">
    <table class='table'>
      <thead>
        <tr>
          <th> Project </th>
          <th> Position </th>
          <th> &nbsp; </th>
        </tr>
      </thead>
      <%= f.fields_for :roles do |builder| %>
        <%= render "form_for_roles", f:builder %>
      <% end %>
    </table>
  </div>
</div>

<div class="row">
  <h2>Ed</h2>
  <div class="col-md-12">
    <table class='table'>
      <thead>
        <tr>
          <th> Education </th>
          <th> &nbsp; </th>
        </tr>
      </thead>
      <%= f.fields_for :educations do |builder| %>
        <%= render "form_for_educations", f:builder %>
      <% end %>
    </table>
  </div>
</div>

