<table class="table table-striped table-hover table-condensed table-bordered index-table">
	<thead>
		<tr>
			<th>name</th>
			<th>morphosis</th>
			<th>employed</th>
			<th>collaborator</th>
			<th>consultant</th>
			<th>has image</th>
			<th># of roles</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	
	<% people.each do |person| %>
		<tr>
			<td><%= link_to person.name, admin_person_path(person) %></td>
			<td><%= person.is_morphosis  %></td>
			<td><%= person.is_employed  %></td>
			<td><%= person.is_collaborator %></td>
			<td><%= person.is_consultant  %></td>
      <td><%= person.primary_image ? fa_icon("check", class: "pull-right", style: "color:green") : fa_icon("close", class: "pull-right", style: "color: red") %>
			<td><%= person.roles.count  %></td>
      <td><%= link_to "#{fa_icon "pencil"}".html_safe, admin_person_path(person) %></td>
      <td><%= link_to "#{fa_icon "trash"}".html_safe, admin_person_path(person), data:  { method: "delete", confirm:  "Are you sure you want to delete this?" } %></td>
		</tr>
	<% end %>
</table>
