<div class="row">
	<div class="col-sm-6">
		<h2><%= @title %></h2>
	</div>

	<div class="col-sm-6 right">
		<%= link_to fa_icon("plus", text: "add person").html_safe, new_admin_person_path, class: "btn btn-primary" %><br>
		<%= link_to "manage positions",  admin_positions_path %><br>
	</div>
</div>


<ul class="nav nav-tabs">
  <li role="presentation" class="<%= 'active' unless @type %>">
    <%= link_to "All", admin_people_path %>
  </li>

  <% @types.each_with_index do |type, i| %>
    <li role="presentation" class="<%= 'active' if @type==type  %>">
      <%= link_to @types_human[i].to_s, admin_people_path(type: type) %>
    </li>
  <% end %>

</ul>

<%= render :partial => 'admin/people/table', :locals => { :people => @people } %>
