<div class='row'>
  <div class='col-md-12'>
    <div class='panel panel-default'>
      <div class="panel-heading">
        <h3 class="panel-title">Roles</h3>
      </div>
      <div class='panel-body'>
        <div class="row">
          <div class="col-md-6">
            <table class='table'>
              <thead>
                <tr>
                  <th> Person </th>
                  <th> Position </th>
                  <th> &nbsp; </th>
                </tr>
              </thead>
              <%= f.fields_for :roles do |builder| %>
                <tr>
                  <td>
                    <%= builder.object.person.name if builder.object.person %>
                  </td>
                  <td>
                    <%= builder.object.position.title if builder.object.position %>
                  </td>
                  <td>
                    <%= builder.hidden_field :_destroy %>
                    <%= link_to("#{fa_icon "trash"}".html_safe, '#',  :data => { :confirm => "Are you sure you want to delete this?" }) %>
                  </td>
                </tr>
              <% end %>
            </table>
          </div>
        </div>

        <%= link_to_add_fields "Add Role", f, :roles %>

      </div>
    </div>
  </div>
</div>
