<fieldset>
<div class='row'>
  <div class='col-md-12'>
    <div class='panel panel-default'>
      <div class="panel-heading">
        <h3 class="panel-title">Award <%= link_to "<span class='pull-right'>#{fa_icon 'close'}</span>".html_safe, "#", class: "remove_fields pull-right" %> </h3>
      </div>

      <div class='panel-body'>
        <div class='row'>
          <div class="col-md-12">
            <%= f.input :title %>
          </div>
        </div>
        <div class='row'>
          <div class="col-md-6">
            <%= f.input :description %>
          </div>
          <div class="col-md-6">
            <%= f.input :overview %>
          </div>
          <div class="col-md-6">
            <%= f.simple_fields_for :primary_image, f.object.build_primary_image  do |builder| %>
              <%= builder.input :name, label: false, :input_html => { 
                :class => 'filestyle', 
                data: {
                  buttonText: builder.object.name_url ? "Change Image" : "Choose Image",
                  placeholder: builder.object.name_url ? File.basename(builder.object.name_url) :  ""
                } 
              }
              %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</fieldset>
