<li><%= link_to 'slide show', admin_slides_path, class: '' %></li>
<li><%= link_to 'projects', admin_projects_path, class: '' %></li>
<li><%= link_to 'people', admin_people_path, class: '' %></li>
<li><%= link_to 'news', admin_news_items_path, class: '' %></li>
<li><%= link_to 'awards', admin_awards_path, class: '' %></li>
<li><%= link_to 'bibliography', admin_bibliography_items_path, class: '' %></li>
<li><%= link_to 'files', admin_uploads_path, class: '' %></li>
