<table class="table table-striped table-hover table-condensed table-bordered index-table">
	<thead>
		<tr>
			<th>title</th>
			<th>created</th>
      <th>image</th>
			<th>&nbsp;</th>
			<th>&nbsp;</th>
		</tr>
	</thead>
	
	<% awards.each do |award| %>
		<tr>
			<td><%= link_to award.title, admin_award_path(award) %></td>
			<td><%= award.created_at.strftime('%x') %></td>
      <td><%= award.primary_image ? fa_icon("check", class: "pull-right", style: "color:green") : fa_icon("close", class: "pull-right", style: "color: red") %>
      <td><%= link_to "#{fa_icon "pencil"}".html_safe, admin_award_path(award) %></td>
      <td><%= link_to "#{fa_icon "trash"}".html_safe, admin_award_path(award), data:  { method: "delete", confirm:  "Are you sure you want to delete this?" } %></td>
		</tr>
	<% end %>
</table>
